<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Ninja</title>
</head>
<body>
    <nav>
        <div class="site-title">
            <a href="/"><h1>Blog Ninja</h1></a>
            <p>A Net Ninja Site</p>
        </div>
        <ul>
            <li><a href="/">Blog</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, asperiores ratione. Vitae vel, nostrum non a excepturi praesentium consequuntur dolores, nulla veritatis consequatur enim sint vero cupiditate impedit dignissimos ea!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit quis ipsa impedit cupiditate enim vitae! Repellat, natus, nostrum corporis officiis officia eos labore consequatur tenetur a beatae adipisci? Illum, aspernatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, cum commodi numquam cumque rem exercitationem corporis quisquam vel nisi natus asperiores nihil deserunt odit quia maiores dolorum odio adipisci ad!</p>
    </div>
</body>
</html>
